
SnapchatBot/\.idea/\.idea\.SnapchatBot/\.idea/

SnapchatBot/\.idea/\.idea\.SnapchatBot/

*.Cache

ContentFilter/ContentFilter/obj/Debug/

ContentFilter/\.vs/ContentFilter/v15/

Presentation/Presentation/obj/Debug/

Presentation/Presentation/bin/Debug/

Presentation/\.vs/Presentation/v15/
