
SnapchatBot/\.idea/\.idea\.SnapchatBot/\.idea/

SnapchatBot/\.idea/\.idea\.SnapchatBot/

*.Cache

ContentFilter/ContentFilter/obj/Debug/

Presentation/Presentation/obj/Debug/

Presentation/Presentation/bin/Debug/

SnapchatBot/obj/Debug/
